<div>
  <h2 class="text-center title">Lista de Empleados</h2>
</div>
<div class="mat-elevation-z8">

  <mat-form-field appearance="standard">
    <mat-label>
      <mat-icon>search</mat-icon>Buscar
    </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese su búsqueda" autocomplete="off" #input />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Completo</th>
      <td mat-cell *matCellDef="let element">{{ element.nombreCompleto }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="estadoCivil">
      <th mat-header-cell *matHeaderCellDef>Estado Civil</th>
      <td mat-cell *matCellDef="let element">{{ element.estadoCivil }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fechaIngreso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Ingreso</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaIngreso | date:'dd/MM/YYYY' }}</td>
    </ng-container>

    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef>Genero</th>
      <td mat-cell *matCellDef="let element">{{ element.genero }}</td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef>Telefono</th>
      <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element, let i = index">
        <a class="pointer edit" routerLink="edit/{{ i }}">
          <mat-icon>edit</mat-icon>
        </a>
        <a (click)="eliminarEmpleado(i)" class="pointer delete">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>


  </table>
  <div class="text-center">
    <span class="btn">
      <button mat-fab color="warn" routerLink="/add">
        <mat-icon>person_add_alt</mat-icon>
      </button>
    </span>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>

</div>