table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
  margin-left: 20rem;
  margin-right: 15rem;
}

.edit{
    color: #1878B0;
}

.delete{
    color: #E15639;
}

.btn {
    margin-right: 1rem;
}

.title {
    text-align: center;
    margin-top: 10px;
}


