.card-form {
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  max-width: 100%;
}

.title {
    margin: 5px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.imgForm {
    margin-top: 10%;
}

.mdb-form-msg {
  color: #E15639;
  font-size: 0.75rem;
}

