.card-form {
  text-align: center;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.title {
    margin-top: 1rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.imgForm {
    margin-top: 5rem;
}

