<div class="row">
    <div class="col-lg-4">
        <mat-card class="text-center card-form mat-elevation-z8">
            <div class="text-center">
                <mat-card-header class="title">
                    <mat-card-title>{{ accion }} Empleado</mat-card-title>
                </mat-card-header>
            </div>

            <form [formGroup]="myForm" class="text-center">
                <div class="col-lg-12">
                    <div *ngIf="myForm.get('nombreCompleto')!.hasError('maxlength') && myForm.get('nombreCompleto')!.touched">
                        <span class="mdb-form-msg">Nombre demasiado <strong>largo*</strong></span>
                    </div>
                    <div *ngIf="myForm.get('nombreCompleto')!.hasError('required') && myForm.get('nombreCompleto')!.touched">
                        <span class="mdb-form-msg">Este campo es <strong>requerido*</strong></span>
                    </div>
                    <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Nombre Completo</mat-label>
                        <input matInput formControlName="nombreCompleto" placeholder="Nombre Completo" />
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-12">
                    <div *ngIf="myForm.get('correo')!.hasError('required') && myForm.get('correo')!.touched">
                        <span class="mdb-form-msg">Este campo es <strong>requerido*</strong></span>
                    </div>
                    <div *ngIf="myForm.get('correo')!.hasError('email') && myForm.get('correo')!.touched">
                        <span class="mdb-form-msg">Ingrese un <strong>correo válido*</strong></span>
                    </div>
                    <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Correo</mat-label>
                        <input matInput placeholder="alguien@dom.com" formControlName="correo" />
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-12">
                    <div *ngIf="myForm.get('fechaIngreso')!.hasError('required') && myForm.get('fechaIngreso')!.touched">
                        <span class="mdb-form-msg">Este campo es <strong>requerido*</strong></span>
                    </div>
                    <mat-form-field class="example-full-width" appearance="outline" style="width: 90%;">
                        <mat-label>Fecha de Ingreso</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fechaIngreso">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-12">
                    <div *ngIf="myForm.get('telefono')!.hasError('required') && myForm.get('telefono')!.touched">
                        <span class="mdb-form-msg">Este campo es <strong>requerido*</strong></span>
                    </div>
                    <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Teléfono</mat-label>
                        <input matInput placeholder="Teléfono" formControlName="telefono" />
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-12">
                    <div *ngIf="myForm.get('estadoCivil')!.hasError('required') && myForm.get('estadoCivil')!.touched">
                        <span class="mdb-form-msg">Este campo es <strong>requerido*</strong></span>
                    </div>
                    <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Estado Civil</mat-label>
                        <mat-select formControlName="estadoCivil">
                            <mat-option *ngFor="let estado of estadosCiviles" [value]="estado">
                                {{estado}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-12">
                    <div *ngIf="myForm.get('genero')!.hasError('required') && myForm.get('genero')!.touched">
                        <span class="mdb-form-msg">Este campo es <strong>requerido*</strong></span>
                    </div>
                    <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Género</mat-label>
                        <mat-select formControlName="genero">
                            <mat-option *ngFor="let genero of generos" [value]="genero">
                                {{genero}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-12">
                    <button mat-raised-button color="warn" [disabled]="myForm.invalid" (click)="guardarEmpleado()">Agregar Empleado</button>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="col-lg-4 offset-lg-2 imgForm">
        <img src="/../assets/img/pngegg.png" alt="people" width="90%" height="90%" />
    </div>
</div>